[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
mockito = "*"
flake8 = "*"
pytest-cov = "*"
black = "*"

[packages]
validators = "*"
requests = "*"
elasticsearch = "==7.17.0"
dane = "*"

[requires]
python_version = "3.8"
